---
title: "Les données utilisées dans l'article 'Le tournant démocratique de la citizen science'"
author: "Aymeric Luneau"
date: "1 décembre 2020"
slug: list-of-actors
categories: [données, R]
tags: [Citizen science]
subtitle: ''
summary: '  '
authors: []
lastmod: '2020-12-02T00:26:31+01:00'
featured: no
image:
  caption: ''
  focal_point: ''
  preview_only: no
projects: []
---

<script src="/notebooklab/rmarkdown-libs/header-attrs/header-attrs.js"></script>
<script src="/notebooklab/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/notebooklab/rmarkdown-libs/pymjs/pym.v1.js"></script>
<script src="/notebooklab/rmarkdown-libs/widgetframe-binding/widgetframe.js"></script>


<style type="text/css">

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h1, h2 {
  margin-top: 2em;
  margin-bottom: 1;
}
</style>
<p>Pour reconstituer les réseaux de la <em>citizen science</em>, nous nous sommes appuyés sur trois types de liens:</p>
<ol style="list-style-type: decimal">
<li>Les listes des personnes présentes lors d’événements comme des congrès, des conférences;</li>
<li>les publications collectives (articles, livres, rapports);</li>
<li>les listes des membres d’une organisation.</li>
</ol>
<p>Par exemple, nous avons recensé l’ensemble des membres impliqués dans les instances de gouvernance et les groupes de travail de l’European Citizen Science Association entre 2016 et 2019, répertorié les participants au congrès organisé par cette association en 2018, listé les auteurs qui ont contribué à l’ouvrage <em>Citizen Science: Innovation in Open Science, Society and Policy</em> (<a href="https://www.uclpress.co.uk/products/107613">Hecker et al., 2018</a>). Un travail similaire a été réalisé concernant les acteurs liés à la recherche-action participative et au mouvement de reconnaissance des “savoirs locaux et autochtones”. Cela a permis de reconstituer les liens internes et externes à la communauté de la citizen science.</p>
<p>Le réseau de base est composé de 939 acteurs, 35 publications, 7 conférences et autres événements, 22 organisations.
<!-- [Les listes des noeuds et des liens peuvent être récupérées ici]() --></p>
<p>Dans le cadre de l’article, nous avons réduit le réseau de départ pour en ne conservant que les événements, publications ou organisations en lien avec la <em>citizen science</em>. Nous avons également retiré les membres de l’ECSA qui n’ont fait partie d’aucun groupe de travail au sein de l’association européenne ainsi que les acteurs dont le degré de centralité est inférieur à 2 (donc n’ayant participé qu’à une seule publication, organisations ou événements). Cela afin de retirer les acteurs les plus marginaux. Ci-dessous, nous mettons le script utilisé pour otbenir le réseau final étudié dans l’article.</p>
<pre class="r"><code>#Edge liste de départ 
# edgelist.base =&gt; nom du dataframe

#Node list de départ
# nodelist.base =&gt; nom du dataframe

# Première réduction du réseau : on ne conserve que les événements, publications ou organisations en lien avec la citizen science
net.base.1 &lt;- tbl_graph(edges = edgelist.base, nodes=nodelist.base, directed = FALSE) %E&gt;% filter(Paradigme == &quot;CS&quot;) %N&gt;%
  mutate(degre = centrality_degree()) %&gt;% filter(degre  &gt; 0) 


# Seconde réduction du réseau : on retire les membres de l’ECSA qui n’ont fait partie d’aucun groupe de travail au sein de l’European citizen science association
net.base.2 &lt;- delete.edges(net.base.1, E(net.base.1)[from_nom == &quot;ECSA&quot; &amp; type == &quot;Organisation&quot;])

# Troisième réduction du réseau : on retire les acteurs dont le degré est inférieur à 2
net.paper &lt;- delete.vertices(net.base.2, V(net.base.2)[degree(net.base.2) &lt; 2 &amp; type == F])

#On convertit le réseau final au format tidygraph et on calcule le degré de centralité
net.paper &lt;- as_tbl_graph(net.paper) %N&gt;% mutate(degre = centrality_degree())</code></pre>
<p>Le réseau utilisé dans l’articlet est composé de re_acteurs)` acteurs, 28 publications, 2 conférences et autres événements, 16 organisations.</p>
<div id="les-acteurs-cités-dans-larticle-et-leur-position-dans-la-communauté-de-la-citizen-science" class="section level2">
<h2>Les acteurs cités dans l’article et leur position dans la communauté de la citizen science</h2>
<p>Le tableau ci-dessus donne la liste des acteurs et leur “degré de centralité” au sein de la communauté de la <em>citizen science</em>. Ce degré correspond au nombre d’événements, d’organisations ou de publications dans lesquels les acteurs sont présents.</p>
<div id="htmlwidget-1" style="width:100%;height:700px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"url":"/notebooklab/post/2020-12-02-list-of-actors.fr_files/figure-html//widgets/widget_dt.acteurs.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
</div>
<div id="liste-des-organisations" class="section level2">
<h2>Liste des organisations</h2>
<p>Le tableau ci-dessous donne la liste des organisations liées aux acteurs cités dans l’article.
<div id="htmlwidget-2" style="width:100%;height:600px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-2">{"x":{"url":"/notebooklab/post/2020-12-02-list-of-actors.fr_files/figure-html//widgets/widget_dt.organisation.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script></p>
<!-- Vous pouvez aussi récuperer les fichiers de données [ici](https://framagit.org/Aymericluneau/citizen-science-network/-/blob/master/data/CS_edges_and_nodes_02122020.RDataser). La variable "in_article" indique si l'acteur est cité dans l'article -->
<p><img src="/notebooklab/post/2020-12-02-list-of-actors.fr_files/figure-html/creation_of_data_frames_orga-1.png" width="1440" /></p>
</div>
<div id="liste-des-publications-et-des-événements" class="section level2">
<h2>Liste des publications et des événements</h2>
<p>Le tableau ci-dessous donne la liste des publications liées aux acteurs cités dans l’article. La variable “référence citée” indique si la référence est également citée dans l’article.</p>
<div id="htmlwidget-3" style="width:100%;height:900px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-3">{"x":{"url":"/notebooklab/post/2020-12-02-list-of-actors.fr_files/figure-html//widgets/widget_dt.publi.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p><img src="/notebooklab/post/2020-12-02-list-of-actors.fr_files/figure-html/creation_of_data_frames_publi-1.png" width="1920" /></p>
</div>
