---
title: Description synthétique des entretiens
author: Aymeric Luneau
date: '2020-12-08'
slug: entretien-ird
categories: [Données, R]
tags: [Recherches participatives, Citizen science]
subtitle: ''
summary: ''
authors: []
lastmod: '2020-12-08T12:21:18+01:00'
featured: no
projects: []
---

<script src="/notebooklab/rmarkdown-libs/header-attrs/header-attrs.js"></script>
<script src="/notebooklab/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/notebooklab/rmarkdown-libs/pymjs/pym.v1.js"></script>
<script src="/notebooklab/rmarkdown-libs/widgetframe-binding/widgetframe.js"></script>


<p>Voici quelques données et graphiques sur les entretiens réalisés pour le groupe de travail de l’IRD sur les recherches participatives.</p>
<div id="tableau-de-données-brut" class="section level1">
<h1>Tableau de données brut</h1>
<div id="htmlwidget-1" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"url":"/notebooklab/post/2020-12-08-entretien-ird.fr_files/figure-html//widgets/widget_stat_acteur.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
</div>
<div id="quelques-graphiques" class="section level1">
<h1>Quelques graphiques</h1>
<p><img src="/notebooklab/post/2020-12-08-entretien-ird.fr_files/figure-html/plot-1.png" width="672" /><img src="/notebooklab/post/2020-12-08-entretien-ird.fr_files/figure-html/plot-2.png" width="672" /><img src="/notebooklab/post/2020-12-08-entretien-ird.fr_files/figure-html/plot-3.png" width="672" /></p>
</div>
<div id="les-chercheurs-ird-et-leurs-projets-participatifs" class="section level1">
<h1>Les chercheurs IRD et leurs projets participatifs</h1>
<div id="htmlwidget-2" style="width:100%;height:480px;" class="widgetframe html-widget"></div>
<script type="application/json" data-for="htmlwidget-2">{"x":{"url":"/notebooklab/post/2020-12-08-entretien-ird.fr_files/figure-html//widgets/widget_unnamed-chunk-1.html","options":{"xdomain":"*","allowfullscreen":false,"lazyload":false}},"evals":[],"jsHooks":[]}</script>
<p><img src="/notebooklab/post/2020-12-08-entretien-ird.fr_files/figure-html/plot2-1.png" width="672" /><img src="/notebooklab/post/2020-12-08-entretien-ird.fr_files/figure-html/plot2-2.png" width="672" /></p>
</div>
<div id="extraits-dentretiens" class="section level1">
<h1>Extraits d’entretiens</h1>
<div id="adl" class="section level2">
<h2>ADL</h2>
<p><em></p>
<p>Mais à l’issue d’une enquête qu’on a fait il y a 5-6 ans qui s’appelait Parcours […] l’étape d’après ça nous a semblé être imaginer une intervention à destination de cette population immigrée, précaire pour réduire les risques sexuels et les risques de VIH. Et donc ça c’est vraiment quelque chose qu’on coconstruit complément avec deux associations. </em></p>
</div>
<div id="php" class="section level2">
<h2>PHP</h2>
<p><em></p>
<p>Donc en fait mon dernier projet de recherche, c’était un projet que j’ai mis en oeuvre en collaboration avec beaucoup d’acteurs , mais à l’origine c’est une collaboration avec la Croix Rouge française au Laos qui mettait en place un gros projet financé par Expertise france avec un titre un peu long , un peu compliqué et politiquement incorrecte , mais en gros sur la gouvernance et sur la question de la réforme des comités de décision au niveau de la prise en charge du VIH .Ils ont approché l’IRD à ce moment là en 2013 et moi j’ai eu plusieurs entretiens après avec eux .Et le deal c’était que … alors c’est très nouveau pour un chercheur de travailler comme ça , c’est que d’emblée je pouvais avoir les financements , mais je ne savais pas d’emblée sur quel sujet j’allais travailler , il fallait que le sujet soit pris , décidé collectivement avec différents acteurs sur place , dont la Croix rouge française , la Croix rouge au Laos , le département VIH du CHAS .</em></p>
</div>
<div id="sl" class="section level2">
<h2>SL</h2>
<p><em></p>
<p>Alors je vais prendre l’exemple du projet Coadapt. QUi est un projet européen, un peu une grosse machine comme les projets européens, donc c’était important d’être en lien aec l’ensemble des parties prenantes.</em></p>
</div>
<div id="tw" class="section level2">
<h2>TW</h2>
<p><em></p>
<p>l’axe principal du labo c’était la recherche. Donc on cherche, on trouve des molécules, on publie et ça s’arrête là. Vers les années 2000, on a voulu voir plus grand et touché, en tout cas voir s’il était possible de se faire connaître, de faire connaître la technologie aux bénéficiaires potentiels qui sont des agriculteurs. Alors on a commencé par les eaux et forêts […] Donc en 2000, c’était les eaux et forêts.,</p>
<p>En 2004 on a eu le projet AEIF, aussi en 2004 le labo a organisé une conf internationale sur la fixation de l’azote et on a fait venir les producteurs qui se sont engagés avec nous et des élèves de différentes écoles du Sénégal pour partager avec eux les connaissances de cette technologie.,</p>
<p>On a saisit une opportunité d’un thésard qui était en même temps président d’un groupement de producteurs. C’est lui qui nous a éclairé un peu en disant: “voila vous travaillez sur cette technologie, mais nous on ne connait pas cette technologie, j’ai double casquette, mais là où je suis on ne connaît pas du tout et à coup sûr le Sénégal entier.” C’est comme ça qu’est née cette initiative de se rapprocher des agriculteurs. Avec les Eaux et forêts s’étaient facile, parce que c’est encore un peu dans le domaine, on se côtoie, c’est un peu le même niveau. Mais sortir de cette échelle et partir vers les agriculteurs, ce n’était pas une mince affaire. Heureusement qu’il y avait cette personne là au laboratoire. On a postulé à un appel d’offre du RAS 2005, on a aussi eu un financement de l’ (?) de 2 ans […] même si on avait une histoire de 50 ans de recherche au laboratoire, pour des questions au champ on n’avait pas du tout ni de manière de faire ni de réponse, rien du tout, or à un moment donné il fallait qu’on sorte et qu’on teste ce qu’on obtenait au laboratoire. Donc on s’est rapidement rendu compte que sans producteur on ne pouvait rien faire et qu’il fallait qu’on aille vers eux dans les champs.,</p>
<p>Après 2008 on a eu un financement du ministère des affaires étrangères français.,</p>
<p>On a tellement sensibilisé la population, que la population est devenue demandeuse et en retour on n’était pas capable de répondre. Donc ça c’est vers 2012. Alors on a pensé qu’on devait quand même fournir cette demande et on a envisagé de créer une start-up […] Alors on a sollicité en 2012 l’IRD. La commission a jugé qu’on était pas encore assez structuré dans notre démarche, il y avait des résultats mais ce n’était pas encore claire comment diffuser et ils nous ont recommandé de faire entrer ce projet en incubation à l’époque ici à l’UCAD, il y avait un incubateur qui s’appelait INODEV.,</p>
<p>Donc on est en 2018 et aujourd’hui on envisage de créer une filière carément d’inoculum, de production d’inoculum.,</p>
<p>On disait qu’on allait impliqué des menuisiés métalliques dans la réflexion, mais bon ce n’était pas compris jusqu’à l’année dernière où il y a eu un appel d’offre de la FAO sur la promotion de l’agroécologie. Ils ont organisé un atelier de diagnostique des problèmes en agroécologie. On a fait venir à cette occasion un autre type de partenaire qui sont les artisans locaux. On les a connu grace à la plateforme PARFAO. Donc quand il y a eu l’appel d’offre FAO, nous avons pensé à les inviter, on a travaillé ensemble, on a fait le cahier des charges et on a pu bénéficier d’un financement pour la conception d’un prototype de semoir.</em></p>
</div>
<div id="vd" class="section level2">
<h2>VD</h2>
<p><em></p>
<p>J’ai fait ma thèse sur l’observatoire de Niara. Je travaillais sur la fécondité des adolescents. Je suis très liée en fait à ce terrain là. J’ai fait d’autres expériences ailleurs, mais c’est surtout dans ce cadre là que je m’intéresse au… enfin que je peux avoir un point de contact avec les sciences participatives. C’est quelque chose d’assez nouveau quand même dans la pratique. Et moi c’est surtout dans le cadre des 50 ans de Niara où j’ai vraiment réflechi pour faire une vraie restitution, donc avec une collègue qui s’appelle Nathalie Mondain qui est à l’université d’Ottawa en sociologie et qui travaillait sur ces questions depuis un peu plus longtemps. On a organisé trois journées de restitutions ans les villages en essayant d’utiliser des outils qui nous permettent de passer de l’information, mais aussi de donner la parole aux gens. Bon le bilan de ça c’est que c’était déjà bien ce qu’on a fait parce que c’était mieux que ce qu’on avait fait jusqu’à présent, mais c’est loin d’être du vrai participatif.</em></p>
</div>
</div>
