---
title: Visualisation d'un graphe dynamique
author: Aymeric Luneau
date: '2020-02-22'
slug: dynamic-network-part-ii
summary: '  '
categories:
  - R
  - Visualisation
tags: [Graphe dynamique, Citizen science]
lastmod: '2020-12-09T12:28:14+01:00'
output: 
  blogdown::html_page:
    toc: true
---

<script src="/notebooklab/rmarkdown-libs/header-attrs/header-attrs.js"></script>

<div id="TOC">
<ul>
<li><a href="#création-dun-graphe-statnet">Création d’un graphe statnet</a>
<ul>
<li><a href="#mise-en-forme-des-sommets">Mise en forme des sommets</a></li>
</ul></li>
<li><a href="#création-dun-graphe-dynamique">Création d’un graphe dynamique</a></li>
</ul>
</div>

<div id="création-dun-graphe-statnet" class="section level1">
<h1>Création d’un graphe statnet</h1>
<p>Nous allons maintenant créer un graphe dynamique avec la library <em>Network</em>. Pour cela il faut détacher le package <em>“igraph”</em>, puis chargé les packages <em>“sna”, “ndtv”</em> et <em>“network”</em>. Les trois packages reposent sur “statnet”. Nous reprenons ici le code écrit par <em>Katya Ognyanova</em> : <a href="https://kateto.net/network-visualization" class="uri">https://kateto.net/network-visualization</a>.</p>
<p>Nous créons un objet “graphe” pour sna. Il sert de base pour créer le graphe dynamique.</p>
<pre class="r"><code># Création d&#39;un graph statique avec sna
netw &lt;- network(links, vertex.attr = nodes, matrix.type=&quot;edgelist&quot;, 
                loops=F, multiple=F, ignore.eval = F,directed=F)</code></pre>
<div id="mise-en-forme-des-sommets" class="section level2">
<h2>Mise en forme des sommets</h2>
<p>Nous colorons les sommets en fonction de leur paradigme.
<img src="/notebooklab/post/2020-02-22-dynamic-network-part-ii_files/figure-html/colored_nodes-1.png" width="672" /></p>
</div>
</div>
<div id="création-dun-graphe-dynamique" class="section level1">
<h1>Création d’un graphe dynamique</h1>
<p>Nous commençons par charger les données et à créer un graphe avec le package “network”. Les fichiers nodes.dyn et links.dyn contiennent les informations temporelles (apparitions et disparition des liens ou des sommets).</p>
<p>Ensuite, nous dessinons une série de graphes représentant chaque période. Nous définissons pour cela des périodes.</p>
<pre class="r"><code>annee &lt;- c(1990,1995,2000,2005,2010,2015,2020) #Les périodes

#On dessine pour chaque période le graphe correspondant

filmstrip(net.dyn, vertex.col=net.dyn%v%&quot;col&quot;,displaylabels=F, mfrow=c(2,3),
          xlab=function(slice,onset){paste(&quot;]&quot;,annee[onset],&quot;;&quot;,annee[onset+1],&quot;]&quot;)},
          slice.par=list(start=1, end=6, interval=1, 
                         aggregate.dur=1, rule=&#39;any&#39;))</code></pre>
<p><img src="/notebooklab/post/2020-02-22-dynamic-network-part-ii_files/figure-html/filmstrip-1.png" width="672" /></p>
<p>Enfin, on créé un graphe dynamique avec “render.d3movie”.
Au moment de créer le graphe animé, nous utilisons la <em>fonction slice</em> pour indiquer que les attributs du graphe (couleurs des sommets, noms, etc.) doivent être calculés pour chaque “slice”. Pour plus d’info voir la documentation du package ‘Ndtv’ <a href="https://cran.r-project.org/web/packages/ndtv/vignettes/ndtv.pdf" class="uri">https://cran.r-project.org/web/packages/ndtv/vignettes/ndtv.pdf</a> (p. 18-19).</p>
<pre class="r"><code># On calcule chaque période en utilisant le layout &quot;kamadakawai&quot;

compute.net &lt;- compute.animation(net.dyn, animation.mode = &quot;kamadakawai&quot;,
                  slice.par=list(start=1, end=7, interval=1, 
                                 aggregate.dur=1, rule=&#39;any&#39;))


# création d&#39;un graphe animé
vis_dynamic_graph &lt;-render.d3movie(net.dyn, #le graphe
               displaylabels=F, # On n&#39;affiche pas les étiquettes
               main = paste0(&quot;Dynamic Affiliation Network\n&quot;,&quot;(click on vertices and egdes to get information on them and double-click to see connections)&quot;),
               xlab=function(slice,onset){paste(&quot;]&quot;,annee[onset],&quot;;&quot;,annee[onset+1],&quot;]&quot;)}, #Le titre des abcisse change avec les périodes
               vertex.col = function(slice){slice %v% &quot;p.color&quot;}, # couleur des noeuds, on utilise la variable définie dans &quot;coloration des sommets&quot;
               vertex.cex=(5-net.dyn%v%&quot;type3&quot;)*0.6, # taille des noeuds en fonction du type
               vertex.border=function(slice){slice%v%&quot;p.border&quot;}, # couleur des bordures
               vertex.tooltip = function(slice){paste(&quot;&lt;b&gt;Name:&lt;/b&gt;&quot;, (slice %v% &quot;name&quot;),&quot;&lt;br&gt;&quot;,
                                      &quot;&lt;b&gt;Type:&lt;/b&gt;&quot;, (slice %v% &#39;type2&#39;),&quot;&lt;br&gt;&quot;,
                                      &quot;&lt;b&gt;community:&lt;/b&gt;&quot;, (slice %v% &#39;paradigme&#39;),&quot;&lt;br&gt;&quot;,
                                      &quot;&lt;b&gt;Birth:&lt;/b&gt;&quot;,(slice %v% &quot;birth&quot;))},
               edge.tooltip = paste(&quot;&lt;b&gt;Edge birth:&lt;/b&gt;&quot;, (net.dyn %e% &quot;birth&quot;)),
               output.mode=&#39;HTML&#39;,
               filename=&quot;network_dynamic.html&quot;
               )</code></pre>
<!--[Voir l'animation](https://aymericluneau.frama.io/notebooklab/post/2020-02-22-dynamic-network-part-ii_files/figure-html/network_dyna#mic.html) (ouvre une nouvelle page) : -->
<iframe seamless src="../network_dynamic.html" width="100%" height="500">
</iframe>
<ul>
<li><p>Les disques “blancs” et “pleins”représentent respectivement les “événements” et les acteurs.</p></li>
<li><p>Cliquer sur les sommets et les liens pour avoir des informations sur leurs noms, leur type, leur communauté ou leur apparition dans le réseau.</p></li>
<li><p>Faites un double clique sur un sommet pour faire apparaître ses connections.</p></li>
</ul>
</div>
