{{/* Do not directly modify this file! */}}
{{/* Instead, create a `layouts/partials/custom_js.html` file in your site and add your code to it. */}}

{{/* This partial is included in `themes/academic/layouts/partials/site_js.html`. */}}

<script src="{{ "/lib/htmlwidgets-1.0/htmlwidgets.js" | relURL }}"></script>
<script src="{{ "/lib/jquery-1.12.4/jquery.min.js" | relURL }}"></script>
<script src="{{ "/lib/datatables-binding-0.4/datatables.js" | relURL }}"></script>
<script src="{{ "/lib/dt-core-1.10.16/js/jquery.dataTables.min.js" | relURL }}"></script>
<script src="{{ "/lib/crosstalk-1.0.0/js/crosstalk.min.js" | relURL }}"></script>
