
<div class="card-simple">
<div class="pub-list-item" style="margin-bottom: 1rem">
<!--  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i> -->


  {{/* APA Style */}}
  {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}


      <span>
        {{ partial "functions/get_event_dates" $item }}
      </span>
      {{ with $item.Params.location }}
      <span class="middot-divider"></span>
      <span>{{ . }}</span>



  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }},
  </span>
  {{- .Date.Format "2006" -}},

    {{ if .Params.booktitle }}
    <a href="{{ .RelPermalink }}">&#171;&#8239;{{ .Title | markdownify }}&#8239;&#187;</a>,
    {{ else if .Params.publication }}
      {{if .Params.subtitle}}
        <a href="{{ .RelPermalink }}">&#171;&#8239;{{ .Title | markdownify }}. {{ .Params.subtitle | markdownify }}&#8239;&#187;</a>,
      {{ else }}
        <a href="{{ .RelPermalink }}">&#171;&#8239;{{ .Title | markdownify }}&#8239;&#187;</a>,
      {{end}}
    {{ else if .Params.publisher }}
    <a href="{{ .RelPermalink }}"><em>{{ .Title | markdownify }}</em></a>,
    {{ else }}
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    {{ end }}

  {{ if .Params.booktitle }}
  in <em>{{- .Params.booktitle | markdownify -}}</em>,
  {{ end }}
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}},
  {{ else if .Params.publication }}
    {{ if .Params.pub_pages }}
      {{- .Params.publication | markdownify -}},
      p. {{- .Params.pub_pages | markdownify -}}.
    {{ else }}
      {{- .Params.publication | markdownify -}}.
    {{ end }}
  {{ end }}
  {{ if .Params.location }}
    {{ .Params.location | markdownify }},
  {{ end }}
  {{ if .Params.publisher }}
   {{ if .Params.pub_pages }}
    {{- .Params.publisher | markdownify -}},
    p. {{- .Params.pub_pages | markdownify -}}.
   {{ else }}
    {{- .Params.publisher | markdownify -}}.
   {{ end }}
  {{ end }}
  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

  {{/* MLA Style */}}
  {{ else }}

  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}.
  </span>
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>.
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}},
  {{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}},
  {{ end }}
  {{- .Date.Format "2006" -}}.
  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

  {{ end }}
</div>
</div>
